.button {
    font: inherit;
    border: 1px solid blue;
    background: blue;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: grey;
    border-color: grey;
}

.button:focus{
    outline: none;
}